.checkbox {
    flex-direction: row;
    &-input {
        border: 1px solid #E4E5E7;
        border-radius: 4px;
        width: 18px;
        height: 18px;
    }
    .field__label {
        color: rgba(153, 153, 153, .7);
        cursor: pointer;
    }
}